.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

tr>th:first-child {
    width: 200px;
}

.long-vol {
    color: red !important;
}
.short-vol {
    color: green !important;
}
.zero-vol {
    color: gray !important;
}

.monospace-text {
    font-family: monospace;
}
